/* Your CSS styles go here */
h1{
    letter-spacing: 5px;
    word-spacing: 2px;
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
}

#profilePicture{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

#profilePicture.clearfix{
    overflow: auto;
}

p.headings{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
}

#nAndi{
    line-height: 1.6;
    border-style: groove;
    border-color: aquamarine;
    border-width: 5px;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    width: 35%;
    position: absolute;
    left: 80px;
}

textarea:focus{
    background-color: lightgray;
}

*{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#background{
    padding: 10px;
    background: url(geo.jpg);
}

input[type=button]{
    width: 8%;
  background-color:aquamarine;
  color: black;
  padding: 7px 10px;
  margin-top: 50px;
  margin-left: 62px;
  border: none;
  border-radius: 4px;
  cursor: pointer
}

input:hover{
    background-color: teal;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
      margin: 0px auto;
    border-collapse: collapse;
    width: 100%;
  }

  th{
      text-align: center;
  }
  
  th, td {
    padding: 10px;
}

@media (max-width: 599px){
    input[type=button]{
        width: 18%;
      background-color:aquamarine;
      color: black;
      /* padding: 7px 10px; */
      margin-top: 50px;
      margin-left: 62px;
      border: none;
      border-radius: 4px;
      cursor: pointer
    }
}

@media (max-width: 1000px) and (min-width: 600px){
    input[type=button]{
        width: 10%;
      background-color:aquamarine;
      color: black;
      /* padding: 7px 10px; */
      margin-top: 50px;
      margin-left: 62px;
      border: none;
      border-radius: 4px;
      cursor: pointer
    }
}

@media (max-width: 549px){
    #nAndi{
        font-size: 80%;
        line-height: 1.6;
        border-style: groove;
        border-color: aquamarine;
        border-width: 5px;
        padding: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #profilePicture{
        float: left;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    #profilePicture.clearfix{
        overflow: auto;
    }
}