/* Your CSS styles go here */
h1{
    color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

#nAndi{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}